<section>
  <!--for demo wrap-->
  <h1>Quản Lý Tour Du Lịch</h1>
  <button (click)="displayTours()" class="btn btn-primary">
    Danh sách các Tour du lịch
  </button>
  <button (click)="displayFormCreate()" style="margin-left: 2px " type="button" class="btn btn-primary">
    Thêm Tour
  </button>
  <br>
<!--  <div id="get_by_categories">-->

<!--  </div>-->


  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Giá</th>
        <th style="text-align: center">Hành động</th>
      </tr>
      </thead>
    </table>
  </div>
  <div id="list-tours" class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      <tr *ngFor="let t of tours, index as i">
        <td>{{i + 1}}</td>
        <td>{{t.title}}</td>
        <td>{{t.price}}</td>
        <td>
          <button class="btn btn-danger" (click)="detail(t.id)">Chi tiết tour</button>
          <button style="margin: 1px" class="btn btn-danger" (click)="updateForm(t.id)">Sửa tour</button>
          <button class="btn btn-danger" (click)="deleteTour(t.id)">Xóa tour</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- The Modal Create And Update -->
<div class="modal" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 id="titleForm" class="modal-title"></h4>
        <button type="button" class="btn-close" (click)="closeFromCreate()"></button>
      </div>

      <!-- Modal body -->
      <form [formGroup]="tourForm" enctype="multipart/form-data">
        <table class="modal-body">
          <tr>
            <td>
              <input id="title" formControlName="title" type="text">
              Tên tour
            </td>

          </tr>
          <tr>
            <td>
              <input id="price" formControlName="price" type="text">
              Giá
            </td>
          </tr>
          <tr>
            <td>
              <textarea id="description" formControlName="description"></textarea>
              Mô tả
            </td>
          </tr>
          <tr >
            <td id="messageCreate">
            </td>
          </tr>
        </table>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button (click)="createTour()" hidden id="buttonCreate" class="btn btn-danger">Thêm tour</button>

          <button type="reset" hidden id="rest" class="btn btn-danger">Thêm tour</button>
          <button  (click)="updateTour()" hidden id="buttonUpdate" class="btn btn-danger">Sửa tour</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Modal Create And Update -->
<!--Detail-->
<div class="modal" id="detailModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 id="titleFromDetail" class="modal-title">Chi tiết tour</h4>
        <button (click)="closeFromCreate()" type="button" class="btn-close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div style="font-size: 20px" id="titleDetail">
          </div>
          <div style="font-size: 20px" id="priceDetail">
          </div>
          <div style="font-size: 20px" id="descriptionDetail">
          </div>
        </form>

      </div>
      <!-- Modal body -->
    </div>
  </div>
</div>
<!--End detail-->
